@page
@model Tennis.Pages.Articles.EditArticleModel
@{
}

<!-- EDIT ARTICLE -->
<form>
    <div class="form-group">
        <label for="editArticleTitleInput">Example label</label>
        <input type="text" class="form-control" id="editArticleTitleInput" placeholder="@Model.ArticleToEdit.Title">
    </div>
    <div class="form-group">
        <label for="editArticleContentInput">Another label</label>
        <input type="text" class="form-control" id="editArticleContentInput" placeholder="Model.ArticleToEdit.Content">
    </div>
    <p>
        <button type="submit" class="btn btn-primary mb-2">Save changes</button>
    </p>
</form>