@page
@model Tennis.Pages.Articles.IndexModel
@{
}

<!-- NEWSFEED -->
<section>
    <div class="card" style="max-width: 40rem">
        <!-- Card Header-->
        <div class="card-header">
            <div class="d-flex mb-3">
                <p>
                    <span class="text-dark mb-0">
                            <strong>Article Title</strong>
                    </span>
                    <span>
                        <a href="" class="text-muted d-block" style="margin-top: 10px">
                            <small>User Name</small>
                        </a>
                    </span>
                </p>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="d-flex mb-3">
                Article Content
            </div>
        </div>
    </div>
</section>

<!-- Content -->
