@page
@model Tennis.Pages.Events.AccessDeniedModel
@{
    ViewData["Title"] = "Adgang nægtet";
}
<div class="card cardouter">
<h1 style="color:red">Denne handling er kun tilladt for administratorer</h1>
</div>