@page "{eventID:int}"
@model Tennis.Pages.Events.CreateEventBookingModel
@{
    ViewData["Title"] = "Opret tilmelding";
}

<p style="color:red">@ViewData["ErrorMessage"]</p>
@if (Model.Event != null)
{
    <h1>Opret Tilmelding til @Model.Event.Title</h1>
    <form method="post">
        <div class="form-group">
            <label asp-for="Booking.Comment" class="control-label">Kommentar</label>
            <input asp-for="Booking.Comment" class="form-control" />
            <span asp-validation-for="Booking.Comment" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <input type="submit" value="Opret event" class="btn btn-primary" />
        </div>
    </form>
    
}
