@page "{eventID:int}"
@model Tennis.Pages.Events.CreateEventBookingModel
@{
    ViewData["Title"] = "Opret tilmelding";
}
<div class="card cardouter p-3">
<p style="color:red">@ViewData["ErrorMessage"]</p>
@if (Model.Event != null)
{
    <div class="card cardfocus p-3">
    <h1 class="display-4 textmain">Opret Tilmelding til @Model.Event.Title</h1>
    <form method="post">
        <div class="form-group">
            <label asp-for="Booking.Comment" class="control-label">Kommentar</label>
            <input asp-for="Booking.Comment" class="form-control" />
            <span asp-validation-for="Booking.Comment" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <input type="submit" value="Opret Tilmelding" class="btn btn-primary" />
        </div>
    </form>
    </div>
}
</div>