@page
@model Tennis.Pages.Lanes.LaneIndexModel
@{
    ViewData["Title"] = "LaneIndex";
}


<h3>Liste af banner </h3>
<p>
    <a asp-page="LaneCreate">skab en ny banne</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                bannensnummer
            </th>
            <th>
                er det udenfor?
            </th>
            <th>
                er det padeltennis?
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.LaneList.Count != 0)
        {
            @foreach (var item in Model.LaneList)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>

                        @if (item.OutDoor == true)
                        {
                            <p>ja</p>
                        }
                        else
                        {
                            <p>nej</p>
                        }
                    </td>
                    <td>
                        @if (item.PadelTennis == true)
                        {
                            <p>ja</p>
                        }
                        else
                        {
                            <p>nej</p>
                        }
                    </td>
                    <td>
                        <a asp-page="LaneDelete" asp-route-Id="@item.Id">fjern </a>|

                        <a asp-page="LaneUpdate" asp-route-Id="@item.Id">opdater</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
