@page
@model Tennis.Pages.Lanes.LaneIndexModel
@{
    ViewData["Title"] = "LaneIndex";
}

<div class="card container-fluid cardgold">
    <div class="card container-fluid lighttablehead">
<h3>Liste af banner </h3>
<p>
    <a asp-page="LaneCreate">Lav en ny banne</a>
</p>
</div>

    <div class="container col-md card cardfocus">

<table class="table">
    <thead>
        <tr>
            <th>
                Banenummer
            </th>
            <th>
                Udenfor/indenfor
            </th>
            <th>
                Banetype
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.LaneList.Count != 0)
        {
            @foreach (var item in Model.LaneList)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>

                        @if (item.OutDoor == true)
                        {
                            <p>Udenfor</p>
                        }
                        else
                        {
                            <p>Indenfor</p>
                        }
                    </td>
                    <td>
                        @if (item.PadelTennis == true)
                        {
                            <p>Padel</p>
                        }
                        else
                        {
                            <p>Tennis</p>
                        }
                    </td>
                    <td>
                        <a asp-page="LaneDelete" asp-route-Id="@item.Id" style="color: red">Fjern</a>|

                        <a asp-page="LaneUpdate" asp-route-Id="@item.Id" style="color: orange">Opdater</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>
</div>