@page
@model Tennis.Pages.Users.ControlPanelModel
@{
    ViewData["Title"] = "Kontrolpanel";
}
<div class="card cardouter p-3">
<a asp-page="/Users/Overview">Bruger kontrolpanel</a>
<br />
<a asp-page="/Events/IndexAdmin">Events kontrolpanel</a>
<br />
<a asp-page="/Lanes/LaneIndex">Bane kontrolpanel</a>
<br />
<a asp-page="/TrainingTeams/TrainingTeamIndex">Træningshold kontrolpanel</a>
</div>