@page
@model Tennis.Pages.Users.FirstSetupModel
@{
    ViewData["Title"] = "Velkommen til Gadevang";
}

<div align="center" class="card cardouter p-3">
    <h1 class="display-4 textdark">Velkommen til Gadevang Tennisklub!</h1>
    <div class="card cardfocus p-3">
    <p class="textmain">Før du booker din første bane, vil vi lige bede dig om at ændre dit password. Det gør tingene lige lidt mere sikre. :)</p>
    <p class="textmain">Passwordet skal være mindst 8 bogstaver langt. Vi anbefaler en mix af store og små bogstaver samt tal.</p>

    <form method="post">
        <div class="form-group">
            <table>
                <tr>
                    <td>Password: </td>
                    <td><Input type="password" asp-for="@Model.NewPassword" /></td>
                </tr>
            </table>
            <span class="text-danger">@Model.PasswordMessage</span>
        </div>
        <br />
        <div class="form-group">
            <Input type="submit" value="Opdater" class="btn btn-outline-success" />
        </div>


    </form>
    </div>
</div>

