@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>aflys bananer <a asp-area="" asp-page="/Lanes/BookingCancel" asp-route-bookingid="@Model.StuffToCancel.BookingID">her</a></p>
</div>
