@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>book bananer <a asp-area="" asp-page="/Lanes/BookingOverview">her</a></p>
</div>
